# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    menu.css                                           :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: vdelgado <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2019/03/26 10:40:42 by vdelgado          #+#    #+#              #
#    Updated: 2019/03/29 12:17:54 by vdelgado         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

BODY
{
	background-color: pink; !important
}
UL
{
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
}
UL.menu > LI
{
	position: relative;
	float: left;
	margin: 1px;
}
UL.menu > LI > A
{
	display: block;
	text-decoration: none;
	background-color: black;
	text-align: center;
	padding: 10px 15px 10px 15px;
	font-size: 2.3vw;
	color: white;
	border-radius: 5px;
}
UL.menu > LI > A:hover
{
	background-color: gray;
}
UL.submenu
{
    display: none;
    position: absolute;
    width: 98%;
    top: 4vh;
    left: 0;
    border: 1px solid black;
}
UL.submenu > LI
{
    display: block;
}
UL.submenu > LI > A
{
    display: block;
    padding: 10px;
    color: black;
    background-color: gray;
    text-decoration: none;
	font-size: 1.5vw;
}
UL.submenu > LI > A:hover
{
    text-decoration: underline;
}
UL.menu > LI:hover > UL.submenu
{
    display: block;
}
